<div >
	<!-- {{shopNameLists}} -->
	<select ng-model="shopName" ng-options="s.storeName for s in shopNameLists" ng-change="change()"></select>
	<!-- {{shopName}} -->
	<!-- {{lists}} -->
	<table class="cardTable">
		<td>商店名稱</td><td>會員卡號</td><td>卡片持有人</td><td>到期日</td>
		<tr ng-repeat="l in lists">
			<td>{{l.storeName}}</td>
			<td>{{l.cardNo}}</td>
			<td>{{l.owner}}</td>
			<td>{{l.expireTime}}</td>
		</tr>
	</table>
	<button ng-click="showMap()">showMap</button>
	<!-- <div id="map-canvas" style="min-width: 400px; min-height: 300px;"></div> -->
</div>
<div id="map_container">
	<div id="map-canvas" class="map_canvas"></div>
	<div id="directions_panel" class="directions_panel">
		<!-- <ul ng-repeat="t in textSearch_results"> -->
		<!-- <li>{{t}}</li> -->
		<!-- </ul> -->
	</div>
</div>