<div >
	<table class="memberTable">
	<th colspan="2" style="text-align:center;">User information</th>
		<tr><td>Name</td><td>{{list.name}}</td></tr>
		<tr><td>Acount</td><td>{{list.account}}</td></tr>
		<tr><td>Sexual</td><td ng-if="list.sexualist">male</td><td ng-if!="list.sexualist">female</td></tr>
		<tr><td>Birthday</td><td>{{list.birthday}}</td>	</tr>
		<tr><td>Height</td><td>{{list.height}}</td>	</tr>
		<tr><td>Weight</td><td>{{list.weight}}</td>	</tr>
		<tr><td>Mobile</td><td>{{list.mobilisteNumber}}</td>	</tr>
		<tr><td>eMail</td><td>{{list.eMailist}}</td>	</tr>
		<tr><td>Address</td><td>{{list.address}}</td>	</tr>
	</table>

	<table class="memberTable2">
		<th colspan="2" style="text-align:center;">card information</th>
		<tr><td>storeName</td><td>cardNo</td></tr>
		<tr ng-repeat="c in cardLists">
			<td>{{c.storeName}}</td>
			<td>{{c.cardNo}}</td>
		</tr>
	</table>
</div>